{{- $profile := hasPrefix "BCSPRIME" .chezmoi.username | ternary "@bcs" "" -}}
{{- $profile := empty $profile | ternary "default" $profile -}}
sourceDir = '{{ .chezmoi.sourceDir }}'

[data]
  profile = '{{ $profile }}'
  name = 'Alexey Zudenkov'
  email = {{- if eq $profile "@bcs" }} 'azudenkov@bcsgm.com'
          {{- else }} 'drunaar@gmail.com' {{- end }}
